.THIS.hidden {
    display: none;
}
.THIS .accountLookupModal {
	min-width: 90%;
}
.THIS .modalContent {
    max-height: 60rem;
    min-height: 15rem;
    position: relative;
}
.THIS .accountSearchInput .slds-input {
    width: 12rem;
    vertical-align: middle;
}
.THIS .buttonContainer {
	float:right;
	padding-top: 1rem;
}
.THIS .slds-modal__content {
	min-height: 80%;
	overflow-x: auto;
}
.THIS .accountSearchInputClearIcon {
    pointer-events: visible;
    width: .475rem;
    height: .875rem;
    position: absolute;
    top: 50%;
    margin-top: -0.3rem;
    line-height: 1;
    border: 0;
    z-index: 2;
    fill: rgb(171, 173, 176) !important;
    right: .75rem;
    background: transparent;
    cursor: pointer;
}
.THIS .searchInputSection, .THIS .searchButton {
    display: inline-block;
}